.navigation{
    text-transform: capitalize;
    text-align: center;
}

.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: purple;
}

body{
    background-color: gray;
}

.footer{
    text-align: center;
}
